header {
  box-sizing: border-box;
  display: flex;
  position: sticky;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: #9f9f9f;
  padding: 10px 20px;

  .logo {
    height: $icon-size;
  }

  #nav {
    display: none;
    overflow-wrap: break-word;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 270px;
    max-width: 768px;
    opacity: 0;

    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: $orange-color;
      }
      &:active {
        color: $blue-color;
      }
    }
  } // nav
  .icons {
    height: $icon-size;
    min-width: $icon-size;
    margin: 0;
    .menu-button {
      height: $icon-size;
      width: $icon-size;
      fill: #eed968;
      &:hover {
        fill: #eece68;
      }
      &:active {
        fill: #eec368;
      }
    }//menu-button
  }//icons
} // header

//--------------------------------------------------------------------------

// mobile-landscape and tablet-potrait
@media only screen and (min-width: 480px) {
  header {
    #nav {
      display: flex;
      animation: nav 1s;
      opacity: 1;
    }
  }
}//media 480

// tablet-landscape and small laptops
@media only screen and (min-width: 768px) {
  header {
    .icons {
      .networks {
        display: flex;
      }
    }
  }
}//media 768

// laptops and desktop
@media only screen and (min-width: 1024px) {
  header {
   
  }
}//media 1024

// wide screen
@media only screen and (min-width: 1600px) {
  header {
   
  }
}//wide screen