header {
  box-sizing: border-box;
  display: flex;
  position: sticky;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(80,80,80,0.9);
  padding: 10px 20px;
  z-index: 10;

  .logo {
    display: block;
    margin: auto 0;
    height: $logo-height;
    line-height: $logo-height;
  }

  #nav {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    opacity: 0;
    margin: 0 15px;
    
    a {
      text-decoration: none;
      color: $a-color;
      font-size: 120%;
      padding: 0 3px;
      margin: 0 2px;
      border-left: solid 1px $a-color;
      border-right: solid 1px $a-color;
      &:hover {
        color: $hover-color;
      }
      &:active {
        color: $click-color;
      }
    }
  } // nav

  .icons {
    display: flex;
    height: $icon-size;
    min-width: $icon-size;
    margin: auto 0;
    line-height: $logo-height;
    .menu-button {
      height: $icon-size;
      width: $icon-size;
      fill: $a-color;
      &:hover {
        fill: $hover-color;
      }
      &:active {
        fill: $click-color;
      }
    }//menu-button
  }//icons
} // header

//--------------------------------------------------------------------------

// mobile-landscape and tablet-potrait
@media only screen and (min-width: 480px) {
  header {
    #nav {
      display: flex;
      animation: nav 1s;
      opacity: 1;
      a:nth-of-type(4), a:nth-of-type(5) {
        display: none;
      }
    }
  }
}//media 480

// tablet-landscape and small laptops
@media only screen and (min-width: 768px) {
  header {
    #nav {
      a:nth-of-type(4), a:nth-of-type(5) {
        display: block;
      }
    }
  }
}//media 768

// laptops and desktop
@media only screen and (min-width: 1024px) {
  header {
   
  }
}//media 1024

// wide screen
@media only screen and (min-width: 1600px) {
  header {
   
  }
}//wide screen