main {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  width: 100%;
  color: $text-color;
  h1, h2 {
    mix-blend-mode: color-dodge;
    font-size: 210%;
    line-height: 3rem;
    color: $hover-color;
    margin: 0 auto 0.25em auto;
  }
  .p1, .p2, .p3 {
    color: $text-color;
  }

  #sidebar {
    display: none;
    position: sticky;
    flex-direction: column;
    left: 0;
    top: 52px;
    height: calc(100vh - 52px);
    z-index: 2;
    &::before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 54px;
      height: 262px;
      background: rgba(0,0,0,0.5);
      border-bottom-right-radius: 5px;
    }      
    
    .networks {
      display: flex;
      position: absolute;
      top: 10px;
      left: 10px;
      flex-direction: column;
      flex-wrap: wrap;
      .facebook-air {
        fill: $fb-green;
      }
      .facebook-icon {
        fill: $fb-blue;
      }
      img, svg {
        display: block;
        height: $icon-size;
        width: $icon-size;
        opacity: 0.7;
        margin-bottom: 10px;
        &:hover {
          opacity: 1;
        }
      }
    }//.networks
  }//#sidebar

  article {
    box-sizing: border-box;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 20px 30px;
    text-align: center;
    li {
      margin-left: 30px;
    }
    .main-info {
      text-align: left;
    }
  }//article

  #main-page {
    display: block;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    justify-content: center;
    text-align: center;
    .join-us {
      display: block;
      position: relative;
      background: no-repeat top center fixed;
      background-image: url('../img/main-page/join-us-768.jpg');
      text-align: center;
      padding: 0;
      width: 100%;
      max-width: 100%;
      margin: 0;
      overflow: hidden;
      &::before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8));
      }
      &__content {
        display: block;
        box-sizing: border-box;
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 560px;
        margin: auto;
        padding: 40px 20px;
        margin: auto;
  
        h1 {
          margin-bottom: 30px;
        }
        &--btn {
          display: block;
          height: 40px;
          width: 270px;
          margin: 40px auto 20px auto;
          border: 3px solid $h-color;
          border-radius: 10px;
          background: none;
          p {
            color: $h-color;
            font-size: 120%;
          }
          &:hover {
            background-color: #b9ec681a
          }
        }
      }//join-us-content  
    }//join-us
    .mainPageList {
      box-sizing: border-box;
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      &__link { // Плиточный блок на главной
        display: block;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        height: 230px;
        min-width: 200px;
        width: 100vw;
        max-width: 460px;
        text-decoration: none;
        margin-top: 15px;
        &:hover p{
          background: rgba(40,30,20,0.5);
        }
        &:hover img {
          transform: translate(-50%, -50%) scale(1.05);
          transition: 0.3s;
        }
        &:last-of-type {
          margin-bottom: 20px;
        }
        &::after {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          height: 100%;
          width: 100%;
          background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.6), rgba(0,0,0,0.1));
        }

        img {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s;
        }
        
        p {
          display: block;
          position: absolute;
          bottom: 10px;
          left: 0;
          right: 0;
          z-index: 1;
        }
      }//$__link
    }//.mainPageList
  } //#main-page

  #schedule-page {
    text-align: center;
    padding: 0;
    position: relative;
    h1 {
      margin-top: 20px;
    }
    .schedule-container {
      display: flex;
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      padding: 0%;
      text-align: center;
      margin: auto;
      a {
        display: block;
        position: sticky;
        left: 0;
        top: 50px;
        width: 100%;
        text-decoration: none;
        padding: 10px 10px 5px 10px;
        background: rgba(0,0,0,0.5);
        span {
          display: inline-block;
          transform: translate(10px, -9px);
        }
        .download-btn {
          fill: $text-color;
          &:hover{
            fill: $hover-color;
          }
          &:active{
            fill: $click-color;
          }
        }//download-btn
      }
      img {
        width: 100%;
        max-width: 320px;
        margin-top: 20px;
      }
    }
  }

  #about-page {
    display: block;
  }

} //main

//--------------------------------------------------------------------------

// mobile-landscape and tablet-potrait
@media only screen and (min-width: 480px) {
  main {
    #main-page {
      .mainPageList {
        &__link {
          width: calc((100% - 15px)/2);
          &:nth-child(2n) {
            margin-left: 15px;
          }
        }
      }//main-page-list
    }//#main-page
    #schedule-page {
      img {
        width: 45%;
        margin: 20px 10px 0 10px;
      }
  
    }//schedule-page
  }//main
}//media 480

// tablet-landscape and small laptops
@media only screen and (min-width: 900px) {
  main {
    #main-page {
      .mainPageList{
        // padding: 40px 50px;
        // padding-top: 0;
        &__link {
           
        }
      }
      .join-us {
        background-image: url('../img/main-page/join-us-1024.jpg');
      }//join-us
    } //main-page

  
    #sidebar {
      // display: flex;
    }
  } //main-page

  #schedule-page {
    img {
      width: 30%;
    }
  }

}//media 768

// laptops and desktop
@media only screen and (min-width: 1200px) {
  main {
    #main-page {
      .mainPageList {
        &__link {
          width: calc((100% - 30px)/3);
          &:nth-child(n) {
            margin-left: 15px;
          }
          &:nth-child(3n + 1) {
            margin-left: 0;
          }
        }
        
      }//main-page-list
      .join-us {
        background-image: url('../img/main-page/join-us-1440.jpg');
      }//join-us
    }//main-page
    #schedule-page {
      img {
        max-width: 400px;
      }
    }  
  }
}//media 1024

//wide screen
@media only screen and (min-width: 1800px) {
  main {
    #main-page {

      .join-us {
        background-image: url('../img/main-page/join-us-1920.jpg');
      }//join-us
    }
  }
}//wide screen