main {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  min-height: 50vh;
  background-color: #888;
  $text-color: rgb(243, 239, 30);

  article {
    box-sizing: border-box;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 768px;
    padding: 15px;
    text-align: center;
    color: $text-color;
    .p1, .p2, .p3 {
      color: $text-color;
    }
    img {
      height: 200px;
    }

    .gMaps {
      display: block;
      width: 100%;
      max-width: 768px;
      height: 50vw;
      margin: auto;
      border: 0;
    }
  }
  
} //main

//--------------------------------------------------------------------------

// mobile-landscape and tablet-potrait
@media only screen and (min-width: 480px) {
  main {

  }
}
// tablet-landscape and small laptops
@media only screen and (min-width: 768px) {
  main {
    
  }
}
// laptops and desktop
@media only screen and (min-width: 1200px) {
  main {

  }
}
// 2k
@media only screen and (min-width: 1992px) {
  main {

  }
}