@keyframes modalBgShow {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

@keyframes modalBgHide {
  0%    {opacity: 1;}
  100%  {opacity: 0;}
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  min-height: 320px;
  width: 100vw;
  height: 120vh;
  background-color: rgba(37, 45, 58, 0.7);
}

.modal-window {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 240px;
  padding: 0px;
  background-color: #c0c0c0;
  box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
  border-radius: 2px;
}

.gMaps {
  display: block;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66vmax;
  height: 66vmax;
  min-width: 320px;
  min-height: 320px;
  max-width: 100vw;
  max-height: 100vh;
  border: 0;
}


// mobile-landscape and tablet-potrait
@media only screen and (min-width: 480px) {
}//media 480

// tablet-landscape and small laptops
@media only screen and (min-width: 768px) {
  .gMaps {
    max-width: 800px;
  }
}//media 768

// laptops and desktop
@media only screen and (min-width: 1024px) {

}//media 1024

//wide screen
@media only screen and (min-width: 1600px) {

}//wide screen

@media only screen and (min-height: 600px) {
  .gMaps {
    max-height: 600px;
  }
}