@import 'fonts.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'menu.scss';
@import 'modal.scss';

//--------------------------------------------------------------------------

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  max-width: 2560px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: #888;

  a{
    font-size: 120%;
  }

  .hidden{
    opacity: 0;
    display: none;
  }

  #toTopLink {
    display: none;
    position: fixed;
    right: 10vmin;
    bottom: 10vmin;
    height: 14vmin;
    width: 14vmin;
    max-width: 50px;
    max-height: 50px;
  }

  .toTopBtn {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1, 1.1);
      transition: 0.3s;
    }
    &:active {
      opacity: 0.6;
      transition: 0.3s;
    }
  }
}

@keyframes nav {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
//--------------------------------------------------------------------------

// mobile-landscape and tablet-potrait
@media only screen and (min-width: 480px) {

} // media 480

// tablet-landscape and small laptops
@media only screen and (min-width: 768px) {
  
} // media 768

// laptops and desktop
@media only screen and (min-width: 1200px) {

} // media 1200

// 2k
@media only screen and (min-width: 1998px) {

} // media 2k