@import 'normalize.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
@import 'menu.scss';
@import 'modal.scss';

//--------------------------------------------------------------------------

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  &::before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 120vh;
    overflow: hidden;
    background: top center no-repeat fixed;
    background-image: url('../img/body/bg-500.jpg');
  }
  a{
    font-size: 120%;
  }

  .hidden{
    opacity: 0;
    display: none;
  }

  #toTopLink {
    display: none;
    position: fixed;
    right: 5vmin;
    bottom: 5vmin;
    height: 50px;
    width: 50px;
    z-index: 3;
  }

  .toTopBtn {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 0.9;
    fill: $hover-color;
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 8px 6px 4px;
    border-radius: 50%;
    &:hover {
      transform: scale(1.1, 1.1);
      opacity: 1;
      transition: 0.3s;
    }
  }
}

@keyframes nav {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
//--------------------------------------------------------------------------

// mobile-landscape and tablet-potrait
@media only screen and (min-width: 500px) {
  body {
    &::before {
      background-image: url('../img/body/bg-1024.jpg'); 
    }  
  }
} // media 480

// tablet-landscape and small laptops
@media only screen and (min-width: 1024px) {
  body {
    &::before {
      background-image: url('../img/body/bg-1440.jpg'); 
    }  
  }
} // media 768

// laptops and desktop
@media only screen and (min-width: 1441px) {
  body {
    &::before {
      background-image: url('../img/body/bg-2160.jpg'); 
    }  
  }
} // media 1200

@media only screen and (min-width: 2161px) {
  body {
    &::before {
      background-image: url('../img/body/bg-2560.jpg'); 
    }  
  }
} // media 1200
